#google-logo {
    display: block;
    margin: 12% auto 1% auto;       /* center image */
    width: 275px;
}
/* =========================================== */
/* ================ SEARCHBAR ================ */
/* =========================================== */

.searchbar input {
    display: block;
    margin: 0% auto 1% auto;        /* center searchbar under google logo */
    height: 40px;
    width: 475px;
    border-radius: 25px;
    border: 1px solid #d4d2d2;
    outline: none;
    position: relative;
    padding-left: 40px;
    font-size: 15px;
    /* multiple background images separated by commas */
    background-image: url("../images/search.png"), url("../images/voice.png"); /* use relative location to this file */
    background-repeat: no-repeat;
    background-size: 18px, 17px;
    background-position: 12px 13px, 480px 8px;
}

.searchbar input:hover {
    box-shadow: 0px 2px 5px #cccaca;
}

.searchbar input:focus {
    box-shadow: 0px 2px 5px #cccaca;
}

/* ========================================= */
/* ================ BUTTONS ================ */
/* ========================================= */

button {
    background-color: rgba(236, 232, 232, 0.4);
    border: none;
    border-radius: 5px;
    padding: 12px 15px; 
    color:rgb(71, 69, 69);
    font-size: 14px;
    margin: 20px 15px 0px 0px;
    position: relative;
    left: 450px;
}

button:hover {
    box-shadow: 0px 2px 2px #cccaca;
    border-radius: 5px;
}


/* ===================================================== */
/* ================ HEADERS AND FOOTERS ================ */
/* ===================================================== */

#squares-img {
    width: 17px;
}

#profile-pic-img {
    width: 33px;
    border-radius: 100%;            /* create circle border */
}

ul {
    list-style-type: none;         /* remove bullets */
    margin: 12px 10px 0px 10px;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;                /* make list elements horizontal  by removing line breaks */
}

#about {
    float: left;
}

#store {
    float: left; 
} 

#profile-pic {
    position: relative;
    bottom: 8px;
}

a {
    display: block;                /* allows us to specify padding, height, width, margins, etc */
    padding: 10px;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
} 

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
} 

#footer {
    /* fixed footer navigation */
    background-color: #f2f2f2;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* add border line */
    border-top: 1px solid rgb(211, 209, 209);
    /* get rid of white space on left side */
    left:0px;
}

/* used to add line between Australia and bottom navbar */
hr {
    border-top: 1px solid rgb(211, 209, 209);
}

.footer-left {
    float: left;
}

#footer p {
    color: rgba(0,0,0,.54);
    font-size: 15px;
    font-family: arial, sans-serif;
    padding: 0 0 0 25px;
}

#footer a {
    color: rgba(0,0,0,.54);
    font-size: 14px;
    font-family: arial, sans-serif;
    padding: 0 16px 16px 16px;
}

