#google-logo {
    display: block;
    margin: 12% auto 1% auto;       /* center image */
    width: 275px;
}

#searchbar {
    display: block;
    margin: 0% auto 1% auto;        /* center searchbar under google logo */
}

#squares-img {
    width: 17px;
}

#profile-pic-img {
    width: 33px;
    border-radius: 100%;            /* create circle border */
}

ul {
    list-style-type: none;         /* remove bullets */
    margin: 12px 10px 0px 10px;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;                /* make list elements horizontal  by removing line breaks */
}

#about {
    float: left;
}

#store {
    float: left; 
} 

#profile-pic {
    position: relative;
    bottom: 8px;
}

a {
    display: block;                /* allows us to specify padding, height, width, margins, etc */
    padding: 10px;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
} 

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
} 

#footer {
    /* fixed footer navigation */
    background-color: #f2f2f2;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* add border line */
    border-top: 1px solid rgb(211, 209, 209);
    /* get rid of white space on left side */
    left:0px;
}

hr {
    border-top: 1px solid rgb(211, 209, 209);
}

.footer-left {
    float: left;
}

#footer p {
    color: rgba(0,0,0,.54);
    font-size: 15px;
    font-family: arial, sans-serif;
    padding: 0 0 0 23px;
}

#footer a {
    color: rgba(0,0,0,.54);
    font-size: 14px;
    font-family: arial, sans-serif;
    padding: 0 16px 16px 16px;
}

